* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 header { 
   /* border: 2px solid red;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  position: fixed;
  z-index: 100000;
  background-color: rgb(255, 255, 255);
   /* background-color: green;  */
  width: 100%;
  height: 100px;
   visibility: visible; 
  box-shadow: 0 5px 5px rgb(201, 194, 194);

 }




.fa-magnifying-glass {
  font-size: 30px;
  font-weight: 60px;

}

header .run {
  background-color: white;
  border: none;
}

header .run:hover {
  background-color: #4c1020;
  color: white;
}


header img { 
   width: 90px; 
 }

 header a { 
  text-decoration: none;
  margin: 15px;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
  color: #4c1020;
  transition: all 0.9s;
 }

 .nav-items a:hover { 
  background-color: #4c1020;
  color: white;
}

/* tyy */

#search_box {
  margin-right: 100px;
  margin-bottom: 5px;
  display: inline-block;
  width: 200px;
  border: 2px solid rgb(180, 173, 173);
  border-radius: 6px;
  width: 300px;
  box-shadow: 0px 5px 3px gray;


}

#search_box input[type=search] {
  height: 31px;
  width: 250px;
  /* border-radius: 2px; */

}

.personal {
  font-size: 15px;
  font-weight: bold;
}

#search_box button {
  width: 46px;
  height: 31px;
}


#main {
  background: url("../img/img.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: gray;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-top: 100px;

}

#main::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.479);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;


}


.main-container {
  padding: 20px;
  margin: auto;
  width: 900px;
  text-align: center;
  font-family: 'Albert Sans', sans-serif;
}

.main-container h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px black;
}

.main-container p {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  text-shadow: 0 2px 5px gray;
  margin-bottom: 20px;

}

.main-container a {
  background-color: #4c1020;
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.9s;


}


.main-container a:hover {
  background-color: white;
  color: #4c1020;
}


/* services section */

#services {
  padding: 50px;
  padding-bottom: 100px;

}

.main_heading {
  font-size: 30px;
  font-family: 'Albert Sans';
  margin-bottom: 50px;
  color: #4c1020;
  text-align: center;
}

  .service_container {
  display: flex;

}

.service_box {
  width: 25%;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(242, 242, 242);
  margin: 10px;
  /* border: 2px solid #4c1020; */
  /* box-shadow: x-axes y-axes blur spread  color; */
  box-shadow: 0 3px 5px rgb(187, 187, 187);
  border-radius: 5px;


}

.service_box:hover {
  transform: scale(1.1);
}


.service_box h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 153, 7);
  margin: 10px 0;
}

.service_box p {
  color: rgb(52, 52, 52);
  line-height: 22px;
  letter-spacing: 0.2px;
}

.icon .fa-solid {
  color: #4c1020;
  font-size: 35px;
  margin: 10px 0;

}

/* food section */

#foods {
  padding: 50px;
  padding-bottom: 100px;
}

.main_heading {
  font-size: 30px;
  font-family: 'Albert Sans';
  margin-bottom: 50px;
  color: #4c1020;
  text-align: center;
}

.food_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food_box {
  width: 24%;
  padding: 15px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(242, 242, 242); */
  margin: 10px;
  /* border: 2px solid #4c1020; */
  /* box-shadow: x-axes y-axes blur spread  color; */
  /* box-shadow: 0 3px 5px rgb(187,187,187); */
  /* border-radius: 5px; */
}

.food_box h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 153, 7);
  margin: 10px 0;
}

.food_box p {
  color: rgb(52, 52, 52);
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;

}



#foods .food_container .food_box img {
  width: 130%;
  height: 80%;
  margin: 0;
}

.more_food {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: -130px;

}



.more_food a {
  padding: 15px 35px;
  color: #f37025;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Rowdies', cursive;
  font-size: 25px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.more_food a::before {
  content: '';
  position: absolute;
  top: 0;
  Left: 0;
  width: 10px;
  height: 10px;
  border-top: 5px solid #f37025;
  border-Left: 5px solid #f37025;
  transition: 0.5s;
}

.more_food a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #f37025;
  border-right: 5px solid #f37025;
  transition: 0.5s;
}

.more_food a:hover::before {
  width: 100%;
  height: 100%;
}

.more_food a:hover::after {
  width: 100%;
  height: 100%;
}

.more_food a:hover {
  color: white;
  background-color: #f37025;
}

/* footer section */

footer {
  background-color: white;
  padding: 40px;
  /* border-top:3px solid #f37025; */
}

.footer_element {
  display: flex;
}

.footer_box {
  width: 24%;
  text-align: center;
  padding: 20px;
}

.footer_box h2 {
  color: #f37025;
  margin-bottom: 20px;
}

.footer_box ul li {
  list-style: none;

  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #554a48;
}


.fa-brands {
  margin-right: 10px;
}

.footer_box ul li a {
  text-decoration: none;
  color: #554a48;

}

/* .footer_box ul li:hover{
    color: red;
  } */

.copyright_text {
  border-top: 3px solid #f37025;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  color: gray;
}

.follow_box ul :hover {
  color: #f37025;
}

.food_loc ul :hover {
  color: #f37025;
}

.fa-solid {
  color: #554a48;
  margin-right: 10px;

}

#go_up .fa-circle-up {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #f37025;
  margin-bottom: 5px;
  position: absolute;
  right: 50%;


}

#go_up {
  border: none;
  background-color: white;
}

/* responsive try */

@media only screen and (max-width: 320px) {
  #nav{
    display: none;
    visibility:hidden ;
  }

  #main{
    margin-top: 0;
    /* height: 700px; */
    padding: 5px;
    /* background-color: red; */
    background-size: cover;
  }

  .main-container{
     width:100%;
     height: 100%;
     padding-top:  100px;
  }

  .main-container h1{
    float: left;
    font-size: 30px;
    padding-bottom: 5px;

  }

  #services .service_container{
    display: flexbox;
    flex-direction: column;
   

  }

  .service_box{
    width: 200px;
    height: 250px;
    margin: 0 0 20px 0;
   
    
  }

  
  
  .food_box{
    width: 250px;
    height: 250px;
    margin: 0 0 20px 0;
  }
  
  #go_up{
    margin: auto;
  }
.footer_container{
  border-top: 2px solid #f37025;
  margin-top: 20px;

}

.footer_element{
  display: flex;
  flex-direction: column;
}

.footer_box{
  width: 200px;
    height: 250px;
    margin: 0 0 20px 0
}




}

